<h1>Genres</h1>

	<%= render :partial => "index_table" %>
	
<br />

<%= link_to 'New Genre', new_genre_path %>

<hr />

<dl class="accordion">
	<dt>
		<span style="color: green">Admin data</span>
	</dt>
	
	<dd>
		session[:doc_num] => <%= session[:doc_num] %>
	</dd>
</dl>

<hr />

	<%= render :partial => "index_log" %>
